/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

header img {
  max-width: 100px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 0px;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

footer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer form label,
footer form input,
footer form textarea {
  margin: 5px 0;
}

footer form button {
  margin-top: 10px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

.header-image {
  position: relative;
  width: 100%;
  text-align: center;
}

.header-image img {
  width: 100%; /* Asegura que la imagen siempre ocupe el 100% del ancho del contenedor */
  height: auto;
}

.floating-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con transparencia */
  color: white;
  padding: 2vh; /* Padding relativo a la altura del viewport */
  text-align: center;
  margin: 0;
  font-size: 3vw; /* Tamaño de fuente relativo al ancho del viewport */
  line-height: 1.2; /* Ajusta la altura de línea para mantener la legibilidad */
}
/* Slider CSS */
/* #slider {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
}

.slider-container {
  display: flex;
  width: 300%;
}

.slider-item {
  scroll-snap-align: start;
  flex: 0 0 100%;
  position: relative;
}

.slider-item img {
  width: 100%;
  height: auto;
} */

/*slider2*/

#slider {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  text-align: center;
}
#slider input[type='radio'] {
  display: none;
}
#slider label {
  cursor: pointer;
  text-decoration: none;
}
#slides {
  padding: 10px;
  border: 3px solid #ccc;
  background: #fff;
  position: relative;
  z-index: 1;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
  height: 300px;
}
#slides .slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
#slides .slide_1 {
  background: #00171f;
}
#slides .slide_2 {
  background: #003459;
}
#slides .slide_3 {
  background: #007ea7;
}
#slides .slide_4 {
  background: #00a8e8;
}
#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float: right;
  margin: 0 -50px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float: left;
  margin: 0 0 0 -50px;
  display: block;
}
#bullets {
  margin: 150px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
    margin: 0;
  }
  #slides {
    max-width: calc(100% - 140px);
    margin: 0 auto;
  }
}

/* Portfolio CSS */
#portfolio {
  margin: 20px 0;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio-item {
  flex: 1 1 calc(33.333% - 20px);
  background-color: #f4f4f4;
  /* padding: 20px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.portfolio-item h3 {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .portfolio-item {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .portfolio-item {
    flex: 1 1 100%;
  }
}

/* Video Section CSS */
#video-section {
  margin: 20px 0;
}

.video-container {
  position: relative;
  width: 100%;
  text-align: center;
}

.video-container video {
  width: 100%;
  height: auto;
}

.video-title {
  position: absolute;
  bottom: 45%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 2vh;
  text-align: center;
  margin: 0;
  font-size: 3vw;
  line-height: 1.2;
}
